In [57]:
import  pandas as  pd

In [58]:
res = pd.read_csv("https://phantombuster.s3.amazonaws.com/crtoUNrBf08/5wPuUtl3IphVqqgDBp4suQ/result.csv",dtype=str)

In [59]:
selected_columns = ["name","profileUrl","job","currentJob","profileImageUrl","location","connectionDegree","sharedConnections","category","certifications","pastJob","summary"]

In [60]:
res = res[selected_columns]
res['locContainerID'] = 21
res['isSelected'] = 0

In [76]:
df = pd.DataFrame(res)

In [78]:
df.head()

,name,profileUrl,job,currentJob,profileImageUrl,location,connectionDegree,sharedConnections,category,certifications,pastJob,summary,locContainerID,isSelected
0,Ayushi Gupta,https://www.linkedin.com/in/ayushi1111,Machine learning |Deep learning| Btech AI &ML|...,Machine Learning Intern at Prodigal AI,https://media.licdn.com/dms/image/D4D03AQGHfdt...,"Delhi, India",2nd,"Sudarshan Iyengar, Utkarsh Mittal, and 5 other...",People,NaN,NaN,NaN,21,0
1,Chavisha Arora,https://www.linkedin.com/in/chavisha-arora-86b...,Machine Learning Engineer II @ExpediaGroup,Machine Learning Engineer II at Expedia Group,https://media.licdn.com/dms/image/D4D03AQHUs5q...,South Delhi,2nd,Satwik Tiwari is a mutual connection,People,NaN,NaN,NaN,21,0
2,Nishant Bharti,https://www.linkedin.com/in/nishant-bharti,Data Scientist | Ex-HiLabs | Machine Learning ...,NaN,https://media.licdn.com/dms/image/C5603AQGxXXs...,"Delhi, India",2nd,"Amrit R., Ankit Singh, and 2 other mutual conn...",People,Machine Learning 101,NaN,NaN,21,0
3,Libin Jose,https://www.linkedin.com/in/libin-jose-41464ba6,Machine Learning & NLP Engineer,Machine Learning Engineer at Thumb,https://media.licdn.com/dms/image/D4D03AQHsG7b...,"Delhi, India",2nd,Mubin Shaikh is a mutual connection,People,NaN,NaN,NaN,21,0
4,Ambir P.,https://www.linkedin.com/in/ambirpatel,Machine Learning Engineer @ Cargill,Machine Learning Engineer at Cargill,NaN,Bengaluru,2nd,Mubin Shaikh is a mutual connection,People,NaN,NaN,NaN,21,0

In [79]:
df  = df.convert_dtypes()

In [81]:
df.fillna("None",inplace=True)

name                 string[python]
profileUrl           string[python]
job                  string[python]
currentJob           string[python]
profileImageUrl      string[python]
location             string[python]
connectionDegree     string[python]
sharedConnections    string[python]
category             string[python]
certifications       string[python]
pastJob              string[python]
summary              string[python]
locContainerID                Int64
isSelected                    Int64
dtype: object

In [84]:
df = df.fillna('None')

In [85]:
df

,name,profileUrl,job,currentJob,profileImageUrl,location,connectionDegree,sharedConnections,category,certifications,pastJob,summary,locContainerID,isSelected
0,Ayushi Gupta,https://www.linkedin.com/in/ayushi1111,Machine learning |Deep learning| Btech AI &ML|...,Machine Learning Intern at Prodigal AI,https://media.licdn.com/dms/image/D4D03AQGHfdt...,"Delhi, India",2nd,"Sudarshan Iyengar, Utkarsh Mittal, and 5 other...",People,None,None,None,21,0
1,Chavisha Arora,https://www.linkedin.com/in/chavisha-arora-86b...,Machine Learning Engineer II @ExpediaGroup,Machine Learning Engineer II at Expedia Group,https://media.licdn.com/dms/image/D4D03AQHUs5q...,South Delhi,2nd,Satwik Tiwari is a mutual connection,People,None,None,None,21,0
2,Nishant Bharti,https://www.linkedin.com/in/nishant-bharti,Data Scientist | Ex-HiLabs | Machine Learning ...,None,https://media.licdn.com/dms/image/C5603AQGxXXs...,"Delhi, India",2nd,"Amrit R., Ankit Singh, and 2 other mutual conn...",People,Machine Learning 101,None,None,21,0
3,Libin Jose,https://www.linkedin.com/in/libin-jose-41464ba6,Machine Learning & NLP Engineer,Machine Learning Engineer at Thumb,https://media.licdn.com/dms/image/D4D03AQHsG7b...,"Delhi, India",2nd,Mubin Shaikh is a mutual connection,People,None,None,None,21,0
4,Ambir P.,https://www.linkedin.com/in/ambirpatel,Machine Learning Engineer @ Cargill,Machine Learning Engineer at Cargill,None,Bengaluru,2nd,Mubin Shaikh is a mutual connection,People,None,None,None,21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Aryan Monga,https://www.linkedin.com/in/aryan-monga-472972209,Data science and Machine Learning enthusiast w...,None,https://media.licdn.com/dms/image/D5635AQFOG5S...,"Delhi, India",2nd,Priya Bhatia is a mutual connection,People,None,Data Science Intern at Madrid Software - ...ma...,None,21,0
995,Shubham Khandelwal,https://www.linkedin.com/in/shubham-khandelwal-,BI & Data Analysis Specialist @ BCG | Ex EXL |...,None,https://media.licdn.com/dms/image/D5603AQH7F2J...,Faridabad,2nd,Utkarsh Mittal is a mutual connection,People,None,None,"...: SQL, Python, Machine Learning, Tableau, H...",21,0
996,Kajol Kiran Katyayini Soma,https://www.linkedin.com/in/kajol-kiran-katyay...,Data Scientist / Data Analyst . Converting Dat...,None,https://media.licdn.com/dms/image/D5635AQHVMJw...,"Andhra Pradesh, India",2nd,Ashish Singh ðŸ‡®ðŸ‡³ is a mutual connection,People,None,None,None,21,0
997,Vishal Bhatnagar,https://www.linkedin.com/in/vishalbbhatnagar,| Python | Data Science | 25K+ Followers | AI ...,None,https://media.licdn.com/dms/image/D4D03AQHkHg-...,Gurugram,2nd,"25K followers â€¢ Harshit Gupta, Anup Kumar Panw...",People,None,None,"...for data analysis, machine learning, and ar...",21,0
998,Bhupender Yadav,https://www.linkedin.com/in/bhupender-yadav-80...,Actively seeking Data Scientist | Machine Lear...,None,https://media.licdn.com/dms/image/C5603AQG5Jia...,Gurugram,2nd,"7K followers â€¢ Priya Bhatia, Karishma Soni, an...",People,"Learn Data Science Deep Learning, Machine Lear...",None,None,21,0

In [86]:
data = [
    {
        "firstName": "Ranjodh",
        "fullName": "Ranjodh Singh",
        "profileUrl": "https://www.linkedin.com/in/singhranjodh",
        "job": "Machine Learning Engineer",
        "currentJob": "Machine Learning Engineer at Leena AI",
        "profileImageUrl": "https://media.licdn.com/dms/image/C5103AQHTfP-jFsUkBg/profile-displayphoto-shrink_100_100/0/1553532854685?e=1724889600&v=beta&t=70dDCjBbzEjZNQK10Tx5qudJuanV1CAn9TCxOi3yJZM",
        "location": "Delhi, India",
        "connectionDegree": "3rd",
        "category": "People"
    },
    # Add more simulated data entries for other profiles if needed
]

In [87]:
df1 = pd.DataFrame(data)

In [88]:
df1

,firstName,fullName,profileUrl,job,currentJob,profileImageUrl,location,connectionDegree,category
0,Ranjodh,Ranjodh Singh,https://www.linkedin.com/in/singhranjodh,Machine Learning Engineer,Machine Learning Engineer at Leena AI,https://media.licdn.com/dms/image/C5103AQHTfP-...,"Delhi, India",3rd,People

In [89]:
df1 = df1.convert_dtypes()
df1

,firstName,fullName,profileUrl,job,currentJob,profileImageUrl,location,connectionDegree,category
0,Ranjodh,Ranjodh Singh,https://www.linkedin.com/in/singhranjodh,Machine Learning Engineer,Machine Learning Engineer at Leena AI,https://media.licdn.com/dms/image/C5103AQHTfP-...,"Delhi, India",3rd,People

In [90]:
df1.dtypes

firstName           string[python]
fullName            string[python]
profileUrl          string[python]
job                 string[python]
currentJob          string[python]
profileImageUrl     string[python]
location            string[python]
connectionDegree    string[python]
category            string[python]
dtype: object